<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServicoEstque" />
                <binding name="BasicHttpBinding_IServicoEstque1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:54204/ServicoEstoque.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicoEstque"
                contract="ServiceEstque.IServicoEstque1" name="BasicHttpBinding_IServicoEstque" />
            <endpoint address="http://localhost:54204/ServicoEstoque.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicoEstque1"
                contract="ServiceEstque.IServicoEstque" name="BasicHttpBinding_IServicoEstque1" />
        </client>
    </system.serviceModel>
</configuration>